<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Admin Add Translate</title>
</head>


<body>

<div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <h4>VarLAB <i class="fa fa-fw fa-heart text-danger"></i> by <a href="http://twitter.com/arkdron" class="btn btn-primary btn-xs" target="_blank"><i class="fa fa-fw fa-twitter"></i> @arkdron</a></h4>
        </div>
    </div>
    <hr>

<H1 align="center"> Add English Audio Of Word Using MP3 file.</H1>

<form  method=post enctype=multipart/form-data>
  <input type=file name=file>
  <input type=submit value=Upload>
</form>
</body>

</html>