<table>
        <tr>
            <td>
                <h3><b>WordID: </b> {{ word.wordID }} </h3>
            </td>
        </tr>
        <tr>
            <td>
                <h3><b>Word :</b> {{ word.word }}</h3>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a href="{{ url_for('admintranslate') }}{{ word.wordID }}" class="btn btn-primary" role="button"  >Add Translation</a>
            </td>
            <td>
                <a href="{{ url_for('adminaudio') }}{{ word.wordID }}" class="btn btn-primary" role="button"  >Add Audio</a>
            </td>
            <td>
                <a href="{{ url_for('admineditword') }}{{ word.wordID }}" class="btn btn-primary" role="button"  >
                    Edit Text</a>
            </td>
            <td>
                <a href="{{ url_for('admindelete') }}{{ word.wordID }}" class="btn btn-danger" role="button" >
                    Delete</a>
            </td>
        </tr>

</table>
