<table>
        <tr>
            <td>
                <h3><b>{{ word.word }}</b></h3>
            </td>
        </tr>
        <tr>
            <td>
                <b>Type :</b> <i>{{ word.TYPE }}</i>
            </td>
        </tr>
        <tr>
            <td>
                <b>Meaning :</b> {{ word.meaning }}
            </td>
        </tr>
        <tr>
            <td>
                <b>Usage :</b>
                <ul>
                    {% for usage in word.usages %}
                        <li >{{ usage }}</li>
                    {% endfor %}
                    </ul>
            </td>
        </tr>
        <tr>
            <td>
                <a class="page-link" href="{{ url_for('suggestion') }}{{ word.wordID }}" target="_blank">Suggestion / Error Report</a>
            </td>
        </tr>
</table>

