{% import 'bootstrap/wtf.html' as wtf %}
<!DOCTYPE html>
<html lang="en">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Suggestions/Error</title>
</head>


<body>

<div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <h4>VarLAB <i class="fa fa-fw fa-heart text-danger"></i> by <a href="http://twitter.com/arkdron" class="btn btn-primary btn-xs" target="_blank"><i class="fa fa-fw fa-twitter"></i> @arkdron</a></h4>
        </div>
    </div>
    <hr>

    <h1>Suggestions/Error</h1>

    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            {{ wtf.quick_form(form) }}
        </div>
    </div>


</body>
</html>