#Python == 3.6.6
#MongoDB == 3.6.8
pymongo == 3.7.2
mongoengine == 0.15.3
flask == 1.0.2
flask-login == 0.4.1
flask-wtf == 0.14.2
flask-bootstrap ==3.3.7.1

werkzeug == 0.14.1
flask-oauth == 0.12
wtforms == 2.2.1
flask-register == 0.1.0