{% extends "base.html" %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}</h1>
    <h2>Welcome, to our website where we relentlessly try to make things easy for You!! </h2>
    {% if current_user.usertype=='A' %}
       <h4><a href="{{ url_for('admin') }}">Registration History</a> </h4>
    {% endif %}
    {% for post in posts %}
    <div><p>{{ post.author.username }}: says - {{ post.body }}</p></div>
    {% endfor %}
    <div align="center">
    <p>
        <a style="height:140px;width:240px" class="btn btn-default btn-lg" role="button"  href="{{ url_for('dictionary') }}"><br><br> Dictionary</a>
    </p>
    </div>
    {% if current_user.is_authenticated %}
        {#<p>
        <a class="btn btn-default" role="button" href="{{ url_for('dictionary') }}"> Dictionary</a>
        </p>#}
        <div align="center">
        <p>
        <a style="height:100px;width:220px" class="btn btn-default btn-lg" role="button" href="{{ url_for('test_page') }}"><br> Test</a>
        <a style="height:100px;width:220px" class="btn btn-default btn-lg" role="button" href="{{ url_for('practice_intro') }}"><br> Practice</a>
        <a style="height:100px;width:220px" class="btn btn-default btn-lg" role="button" href="{{ url_for('user',username=current_user.username) }}"><br> Profile</a>

        <a style="height:100px;width:220px" class="btn btn-default btn-lg" role="button" href="{{ url_for('stat') }}"><br> Statistics</a>
        </p>
        </div>
    {% endif %}
{% endblock %}

{#
{% extends "base.html" %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}</h1>
    <h2> To make dummy user run dummy.py</h2>
    {% if current_user.usertype=='A' %}
       <h4><a href="{{ url_for('admin') }}">Registration History</a> </h4>
    {% endif %}
    {% for post in posts %}
    <div><p>{{ post.author.username }}: says - {{ post.body }}</p></div>
    {% endfor %}
    {% if current_user.is_authenticated %}
        <p>
        <button type="button" class="btn btn-secondary btn-lg btn-block"><a href="{{ url_for('dictionary') }}"> Dictionary</a></button>
        </p>
        <p>
        <button type="button" class="btn btn-secondary btn-lg btn-block"><a href="{{ url_for('test') }}"> Test</a></button>
        </p>
        <p>
        <button type="button" class="btn btn-secondary btn-lg btn-block"><a href="{{ url_for('practice') }}"> Practice</a></button>
        </p>
        <p>
        <button type="button" class="btn btn-secondary btn-lg btn-block"><a href="{{ url_for('user',username=current_user.username) }}"> Profile</a></button>
        </p>
        <p></p>
        <button type="button" class="btn btn-secondary btn-lg btn-block"><a href="{{ url_for('stat') }}"> Statistics</a></button>
        </p>
    {% endif %}
{% endblock %}#}
