{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block card %}
<style>
.card {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 45%;
    background-color: #fcffee;
}

.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

</style>
{% endblock %}

{% block app_content %}
    <br>
    <div align="center">
    <h1>Sign In</h1>
    <div class="card" align="center">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            <br>
            {{ form.username.label(class='forn-control form-control-label') }}<br>
            {{ form.username(placeholder="Username",class="col-md-8 form-control") }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label(class='forn-control form-control-label') }}<br>
            {{ form.password(placeholder="Password", class="col-md-8 form-control") }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me(class="form-check-input") }} {{ form.remember_me.label(class="form-check-label") }}</p>
        <p>{{ form.submit(class="btn btn-outline-info") }}</p>
        <p><a class="btn btn-success" role="button" href="{{ url_for('gsign') }}"> Log In with Google!</a></p>
        <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>

    </form>
    </div>
    <br>
    </div>
{% endblock %}