<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Practice Summary</title>



    <style>
        table{
            position: absolute;
            top: 20%;
            border: 5px;
        }

        th {
            background-color: #4a93c9;
            color: white;
            text-align: center;
            padding: 8px;
        }
        td{
            text-align: center;
            padding: 8px;
        }


    </style>

</head>

<body>
{% include 'header.html' %}



    {% include 'summarydictview.html' %}
    <div style="position: absolute; top: 120%; left: 20% ">
       <a href="{{ url_for('practice_intro') }}" class="btn btn-success" id="practice_again" >Practice Again</a>
        <a href="{{ url_for('previous_practice') }}" class="btn btn-success" id="review_words">Review Words</a>
    </div>




</body>
</html>