{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>To Guide you through shit</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
    <p>
        {{ form.age.label }}<br>
        {{ form.age(size=16) }}<br>
        {% for error in form.age.errors %}
        <span style="color:red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.gender.label }}<br>
        {{ form.gender(size=16) }}<br>
    </p>
    <p>
        <select name="cnt_name">
            <option value="select country">Select a country</option><br>
            {% for i in arr %}
                <option value="{{i}}">{% print(i) %}</option><br>
            {% endfor %}
        </select>

    </p>
     <p>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password(size=32) }}<br>
            {% for error in form.confirm_password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
     </p>

    <p>{{ form.submit() }}</p>
    </form>
{% endblock %}