<nav style="position: absolute; top: 0;width: 100%" class="navbar navbar-expand-lg navbar-dark unique-color-dark">

    <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='img/logo.png') }}" height="60" alt="vlab logo">
    </a>

    <a class="navbar-brand" href="#">VocLAB</a>

    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('practice_intro')}}">Practice <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('test_page')}}">Test</a>
      </li>

    </ul>
    </div>
</nav>
