<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Test!</h1>
<p id="test"></p>

{% for meani in meanings %}
       <input type="radio" name="gender" value={{ meani.meaning }}> {{ meani.meaning }}<br>
{% endfor %}
 <button onclick="getRadioVal()">Submit</button>

<script>
    function getRadioVal(form = document.getElementById("test"), name="gender") {
    var val;
    // get list of radio buttons with specified name
    var radios = form.elements[name];

    // loop through list of radio buttons
    for (var i=0, len=radios.length; i<len; i++) {
        if ( radios[i].checked ) { // radio checked?
            val = radios[i].value; // if so, hold its value in val
            break; // and break out of for loop
        }
    }
    return val; // return value of checked radio or undefined if none checked
}
</script>

</body>
</html>

