{% extends "base.html" %}

{% block app_content %}
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}"></td>

            <td>
                <h3>User: {{ user.username }}</h3>
                <h5>Rating: {{ rate.rating }}</h5>
                <h5>Rank(Local): {{ locindx }}</h5>
                <h5>Rank(Global): {{ rankindx }}</h5>
                <h6>accout: {{ user.email }}</h6>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
                {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>

                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
            <h4>Age: {{ user.age }}</h4>
            <p>Gender: {{ user.gender }}<br>
                Country: {{ user.country }}
                <p>Member since: {{ user.reg_date }}</p>
            </p>
            </td>
        </tr>
    </table>
    <hr>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
{% endblock %}
