<table>
        <tr>
            <td>
                <h3><b id="word">{{ word.word }}></b> (<i id="type"> {{word.TYPE}}</i>)</h3>
            </td>
       </tr>
        <tr>
            <audio  id="audio" controls>
                <source src="/words/audio/{{ word.word }}.mp3" type="audio/mpeg">
            </audio>
        </tr>


        <tr>
            <td>
                <h3><b>Meaning :</b></h3> <h3 id="meaning"> {{ word.meaning }}</h3>
            </td>
        </tr>
        <tr>
            <td>
                <h3 ><b>Usage :</b></h3> <h3 id="usage"> {{ word.usage }}</h3>

            </td>
        </tr>

        <tr>
            <td>
                <h3><b>Translation:  </b></h3><h3 id="trans"> - - - -</h3>
                <select id="selectlan" style="width: 100px; height: 40px; font-size: 22px">
                    <option value="- - - -">None</option>
                    <option value="bangali">Bangali</option>
                    <option value="chinese">Chinese</option>
                    <option value="french">French</option>
                    <option value="german">German</option>
                    <option value="hindi">Hindi</option>
                    <option value="italian">Italian</option>
                    <option value="japanese">Japanese</option>
                    <option value="spanish">Spanish</option>
                </select>



            </td>
        </tr>

</table>
