<table>
        <tr>
            <td>
                <h3 id="word"><b>{{ word.word }}</b></h3>
            </td>
        </tr>

        <tr>
            <td>
                <b >Type :</b> <h4 id="type">{{ word.TYPE }}</h4>
            </td>
        </tr>
        <tr>
            <td>
                <b>Meaning :</b> <h4 id="meaning"> {{ word.meaning }}</h4>
            </td>
        </tr>
        <tr>
            <td>
                <b >Usage :</b> <h4 id="usage"> {{ word.usage }}</h4>

            </td>
        </tr>


</table>
