
<html lang="en">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<button id="idk" style='visibility:hidden' onclick="myFunction(this, '{{ sessionID }}', 'idk','ik','flip')">I don't Know</button>
<button id="ik" style='visibility:hidden' onclick="myFunction(this, '{{ sessionID }}', 'idk','ik','flip')">I
    know
</button>
<button id="flip" style='visibility:visible' onclick="flipCard('{{ sessionID }}','flip','ik','idk')">Flip</button>

<h3 id="cardside1"><b>{{ word.word }}</b></h3>

<p id="cardside2" style="visibility: hidden"> {% include 'dictview.html' %}</p>
<script>


    function myFunction(source, sessionID, id2hide, id3hide, id2show) {

        $.ajax({
                url: '/nextword',
                data: {'sessionID':sessionID, 'buttonID':source.id},
                dataType: 'json',
                type: 'POST',
                success: function (response) {
                    if(response.word['wordID']==='$null$')
                    {

                        document.getElementById("cardside1").innerHTML='Congratulations!You have learned everything';
                        document.getElementById("cardside2").style.visibility = 'hidden';
                        document.getElementById("cardside1").style.visibility = 'visible';
                        document.getElementById(id2hide).style.visibility = 'hidden'
                        document.getElementById(id3hide).style.visibility = 'hidden';
                        document.getElementById(id2show).style.visibility = 'hidden';
                    }
                    else
                    {
                        document.getElementById("cardside2").style.visibility = 'hidden';
                        document.getElementById("cardside1").style.visibility = 'visible';
                        document.getElementById("cardside1").innerHTML=response.word['word']

                        document.getElementById(id2hide).style.visibility = 'hidden'
                        document.getElementById(id3hide).style.visibility = 'hidden';
                        document.getElementById(id2show).style.visibility = 'visible';
                    }

                    console.log("nextword ",response.word, response.word['word']);

                },
                error: function (error) {
                    console.log('bal');
                }
            });


    }

    function flipCard(sessionID,id2hide, id2show, id3show) {
        //console.log('func e dhukse', sessionID);
        //document.getElementById("demo").innerHTML = word[1];
        $.ajax({
                url: '/fliped',
                data: {'sessionID':sessionID},
                dataType: 'json',
                type: 'POST',
                success: function (response) {

                    if(response.word['wordID']==='$null$')
                    {
                        document.getElementById("cardside1").innerHTML='Congratulations!You have learned everything';
                        document.getElementById("cardside2").style.visibility = 'hidden';
                        document.getElementById("cardside1").style.visibility = 'visible';
                        document.getElementById(id2hide).style.visibility = 'hidden'
                        document.getElementById(id3hide).style.visibility = 'hidden';
                        document.getElementById(id2show).style.visibility = 'hidden';
                    }
                    else
                    {
                        document.getElementById("cardside2").style.visibility = 'visible';
                        document.getElementById("cardside1").style.visibility = 'hidden';

                        document.getElementById("word").innerHTML=response.word['word'];
                        document.getElementById("type").innerHTML= response.word['TYPE'];
                        document.getElementById("meaning").innerHTML= response.word['meaning'];
                        document.getElementById("usage").innerHTML= response.word['usage'];

                        document.getElementById(id2hide).style.visibility = 'hidden';
                        document.getElementById(id2show).style.visibility = 'visible';
                        document.getElementById(id3show).style.visibility = 'visible';
                    }

                    console.log("flipped ", response.word, response.word['word']);
                },
                error: function (error) {
                    console.log('bal');
                }
            });




    }
</script>

</body>
</html>>